@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&family=Ubuntu:ital,wght@1,300&display=swap');
/* CSS for Login component */
body
{
  margin:0;
  display:block;
  overflow: hidden;


}
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: 'poppins';
  background-color: #333;
  overflow: hidden;
  
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.input-group {
  margin-bottom: 15px;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
  width: 20vw;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  outline: none;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  width: 20vw;
  margin-left: 10px;
}

button:hover {
  background-color: #0056b3;
}
