  
  
.login-box {
  position: fixed;
  width: 400px;
  height: 80vh;
  padding: 40px;
  margin: 20px auto;
  transform: translate(-50%, -55%);
  background: #15037c;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
  border-radius: 10px;
  text-align: center;
}

.login-box p:first-child {
  margin: 0 0 0px;
  padding: 0;
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 1px;
}

.login-box .user-box {
  position: relative;
  margin-bottom: 30px;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #fff;
  font-size: 12px;
}

.login-box form a {
  display: block;
  margin-top: 40px;
  font-weight: bold;
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.a2
{
  color: #fff;
  text-decoration: none;
}

/* Button Styling */
.login-box form .button-container {
  text-align: center;
}
.login-box form .button {
  display: inline-block;
  padding: 10px 20px;
  font-weight: bold;
  background-color: transparent;
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  border: 2px solid #fff;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  margin-top: 40px; /* Adjust margin as needed */
}
.button:hover {
  background-color: #fff;
  color: #15037c;
  border-color: #15037c;
}


  .button {

    display: flex;
    padding: 10px 20px;
    font-weight: bold;
    background-color: #15037c;;
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    border: 2px solid #fff;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s; 
  }
  
  .button:hover {
    background-color: #fff; 
    color: #15037c; 
   
  }